# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.csv

# Sphinx documentation
docs/_build/

# PyBuilder
target/
trees100/
trees100_1/
trees50/
trees50_part_attr/
trees50_part_attr_gini/
forest_100/
regressTrees/
randomforest/
trees/
# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/other.xml
.idea/**/inspectionProfiles/
